body{
    
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}
body div{
    background-color: gray;
    
}
.header {
    color: white;
    background-color: #017bab;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}
.footer {
    color: white;
    background-color: gray;
    font-size: 50%;
    margin-top: 0px;
}
.button{
    width: 100%;
    height: 40px;
    background-color: #017bab;
    border: none;
    color: white;
    margin-top: 16px;
}